@import "./miniScss/reset";
@import "./miniScss/variables";
@import "./miniScss/index";

h1 {
  color: blue;
}

/* body {
  margin: 0px;  
} */

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #4d4d4d;

  .nav-header {
    display: flex;
    align-items: center;
    .nav-title {
      /* Cambiar por background img */
      padding: 10px;
      font-size: 22px;
      color: #fff;
    }
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    font-size: 18px;
    gap: 1rem;

    li {
      list-style: none;
    }

    a {
      padding: 13px 10px;
      text-decoration: none;
      color: #efefef;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  #nav-check {
    display: none;
  }

  @media (max-width: 600px) {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;

      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;

        &:hover,
        nav #nav-check:checked ~ .nav-btn > label {
          background-color: rgba(0, 0, 0, 0.3);
        }

        span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
        }
      }
    }

    .nav-links {
      position: absolute;
      top: 30px;
      left: 0px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 0px;
      background-color: #333;
      transition: all 0.3s ease-in;
      overflow-y: hidden;

      li {
        font-size: 1.5rem;

        &:first-child {
          margin-top: 2rem;
        }
      }
    }

    #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}
